.btn {

  border-radius: @bth-radius;

  &-checkout {
    background: #426db2;
    color: #fff;
    padding: @pad/7;
    margin-bottom: @pad;

    &:focus, &:active, &:hover {
      color: #fff;
    }
    &__item {
      display: block;
      padding: @pad/2 0;
      width: 100%;
      text-align: center;
      border: 2px solid #fff;
      color: @inverse;
    }
  }

  &-go-back {
    background: @primary;
    color: #fff;
    &:focus, &:active, &:hover {
      color: #fff;
    }
  }
}
