.footer {
  background: @inverse;
  .grey;
  font-size: @fz/1.2;

  &__menu {
    display: flex;
    
    padding-top: @pad;
    padding-bottom: @pad;

    @media @screen-desktop {
      padding: @pad*2 0;
    }

    &--end {
      justify-content: flex-end;
    }

    &-link {
      .grey;

      &:hover, &:active, &:focus {
        color: @grey-hover;
        text-decoration: none;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      padding: 0 @pad/2;
      font-size: @fz*0.75;
    }

    &-social {
      text-align: right;
      position: relative;
      padding-left: @pad*2;
      display: flex;

      &-i {
        height: @pad;
      }

      &-a {
        display: flex;
        align-items: center;
        padding-right: @pad;
      }

      & img {
        max-width: 120px;
      }

      @media @screen-desktop {
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 20px;
          width: 1px;
          left: 10px;
          top: -2px;
          background: @grey;
        }
      }
      
    }
    &-logo {
      padding-right: @pad*3;
      position: relative;
      top: -2px;
      @media @screen-desktop {
        &:before {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 1px;
          right: @pad*1.5-@pad/2;
          top: 0;
          background: @grey;
        }
      }
    }
  }

  &__mobile {
    &-list {
      display: none;
    }
    &-item {
      text-transform: uppercase;
      padding-top: @pad;
      padding-bottom: @pad;
      
      &:nth-child(2n+1) {
        border-right: 1px solid #4d4d4d;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -@pad*200;
          width: 10000%;
          bottom: -1px;
          height: 1px;
          background: #4d4d4d;
        }
      }
    }
    

    &-info-txt {
      display: block;
      padding: @pad 0;
      position: relative;
      cursor: pointer;
      &:before {
        content: '+';
        display: inline;
      }
      &.in {
        &:before {
          content: '-';
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: -@pad*200;
        width: 1000%;
        bottom: -1px;
        height: 1px;
        background: #4d4d4d;
      }
      
    }
  }
}
