.instagram {
  margin-bottom: -@pad/2;
  position: relative;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
      width: 50%;
      @media @screen-desktop {
        width: 25%;
      }
  }

  .instafeed-container {
    @media @screen-small {
      width: 50%!important;
      min-height: 150px;
    }

    @media @screen-xs-only {
      width: 100%!important;
    }
  }


  &__text {
  	width: 100%;
  	display: block;
  	.hover(@inverse);
  	position: absolute;
    z-index: 6;
  	text-align: center;
  	color: @inverse;
  	top: 50%;
  	margin-top: -72px;
  	font-size: @fz*2;
  	&-head {
		font-size: @fz*2;
  		display: block;
  		@media @screen-desktop {
  			font-size: @fz*4;
  		}
  	}
  }
}

#instagram {
  pointer-events: none;
}
