

.main-menu {
  &__list {
    display: flex;

  }

  &__dropdown{
    display: none;
  }

  &__item {
    text-transform: uppercase;
    padding: 0 @pad/2;
    position: relative;

    &:hover {
      display: block;
    }
    & a {
      color: #000;
      &:hover {
        color: #000;
      }
    }

    &--bag {
      padding-left: @pad*3;
      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: @pad*1.5-@pad/2;
        background: @grey;
      }
    }
  }

  &__link {

  }

  &__anchors {
    background: @primary;
    color: @inverse;
    padding: @pad*2 0;
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      padding-right: @pad*4;
      & a {
        color: @inverse;
        text-transform: uppercase;
      }
      &:last-child {
        padding-right: @pad;
        margin-left: auto;
        & a {
          color: @red;
        }
        & a:hover {
          color: @red-hover;
          text-decoration: none;
        }
      }
    }
  }
}
