

.main-menu {
  &__list {
    display: flex;
    height: @header-height;
    padding: @pad*1.5 0;
    align-items: center;
    font-size: @fz*0.9;

    &--about {
      justify-content: flex-end;
    }
  }

  &__link {
    color: #000;
    &:hover {
      color: #000;
    }
  }

  &__item {
    text-transform: uppercase;
    padding: @pad/2 @pad;
    position: relative;



    &-dropdown{
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      padding: @pad*2 @pad 0;
      background: @inverse;
      z-index: 5;
      font-size: @fz*0.75;

      &::before {
        content: '';
        position: absolute;
        background: @inverse;
        left: -1000px;
        top: @pad;
        width: 5000px;
        display: block;
        height: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        border-top: 1px solid rgba(0,0,0,0.5);
      }
      & li {
        position: relative;
        z-index: 2;
      }
      & li + li{
        margin-top: @pad/2;
      }
    }

    &:hover {
      .main-menu__item-dropdown {
        display: block;
      }

    }

    & a {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    &--bag {
      border-left: 1px solid @grey;
      @media @screen-large {
        padding-left: @pad*2.25;
      }
      @media @screen-small {
        padding-left: @pad;
        padding-right: @pad;
        border-right: 1px solid @grey;
      }
      @media @screen-tablets-only {
        padding-left: @pad;
        padding-right: @pad;
        border-right: 1px solid @grey;
      }
      &:hover .main-menu__checkout{
        display: block;
      }
    }
    &--search {
      @media @screen-large {
        padding-right: @pad*2.25;
      }
    }
  }
  &__bag {
    position: relative;
    display: flex;
    align-items: center;
    
    

    &-count {
      padding-top: 10px;
      padding-left: @pad/2;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  &__icon {
    @media @screen-small-only {
      width: 15px;
    }
  }
  



  &__search {
    width: 35px;
    display: block;
    padding-left: 12px;
  }

  &__logo {
    position: relative;
    padding-left: @pad*2;
    padding-right: @pad*4;
    display: block;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    &-img {
      display: block;
      position: absolute;
      left: -8px;
      top:-7px;
      width: 21px;
      height: 35px;

    }

    @media @screen-desktop {
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        right: @pad*2-@pad/2;
        background: @grey;
      }
    }
  }


  &__anchors {
    background: @primary;
    color: @inverse;
    padding: @pad*2 0;
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      padding-right: @pad*4;
      & a {
        color: @inverse;
        text-transform: uppercase;
      }
      &:last-child {
        padding-right: @pad;
        margin-left: auto;
        & a {
          color: @red;
        }
        & a:hover {
          color: @red-hover;
          text-decoration: none;
        }
      }
    }
  }

  &__link {
    &.active {
      font-weight: bold;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  &__checkout {
    position: absolute;
    width: 500px;
    right: -@pad*2;
    top: 99%;
    z-index: 6;
    padding-top: 10px;
    display: none;

    &-info {
      background: @inverse;
      padding: @pad @pad*2 @pad*2;
      border-left: 1px solid @btn-grey;
    }

    &-img {
      max-width: 200px;
    }

    &-view {
      border-top: 2px solid @btn-grey;
      background: @inverse;
      padding: @pad 0;
      text-align: center;
      display: block;
      border-left: 1px solid @btn-grey;
    }
    &-btn {
      background: @btn-grey;
      border: 1px solid @btn-grey;
      padding: @pad 0;
      text-align: center;
      & a {
        color: @inverse;
        .hover(@inverse);
      }
    }
  }
  &__right { 
    @media @screen-small {
      float: right;
    }
    @media @screen-tablets-only {
      float: right;
    }
  }

  &__mobile {
    background: @inverse;
    &-item {
      padding: @pad @pad*2;
      text-transform: uppercase;
      position: relative; 
    }
    &-item + &-item {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -@pad*100;
        top:-1px;
        height: 1px;
        width: 1000%;
        background: @primary;
      }
    }
    &-icon {
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      cursor: pointer;
      width: 25px;
      &.active {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}
