

.main-menu {
  &__list {
    display: flex;
    height: 78px;
    padding: @pad*1.5 0;
    align-items: center;
    &--about {
      justify-content: flex-end;
    }
  }

  &__dropdown{
    display: none;
  }

  &__item {
    text-transform: uppercase;
    padding: 0 @pad/2;
    position: relative;

    &:hover {
      display: block;
    }
    & a {
      color: #000;
      &:hover {
        color: #000;
      }
    }

    &--bag {
      padding-left: @pad*4;
      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 25px;
        background: @grey;
      }
    }
  }

  &__bag {
    position: relative;
    padding-left: @pad*2.35;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 27px;
      height: 36px;
      left: 0;
      top: -11px;
      background: url(/img/icons/bag.png) center center no-repeat;
    }
  }

  &__search {
    width: 35px;
    display: block;
    padding-left: 12px;

    &:before {
      content: '';
      display: block;
      left: 0;
      top: -2px;
      width: 25px;
      height: 26px;
      background: url(/img/icons/search.png) center center no-repeat;
    }
  }

  &__logo {
    position: relative;
    padding-left: @pad*2;
    padding-right: @pad*4;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -8px;
      top:-7px;
      width: 21px;
      height: 35px;
      background: url(/img/icons/logo.png) center center no-repeat;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0;
      right: @pad*2-@pad/2;
      background: @grey;
    }
  }


  &__anchors {
    background: @primary;
    color: @inverse;
    padding: @pad*2 0;
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      padding-right: @pad*4;
      & a {
        color: @inverse;
        text-transform: uppercase;
      }
      &:last-child {
        padding-right: @pad;
        margin-left: auto;
        & a {
          color: @red;
        }
        & a:hover {
          color: @red-hover;
          text-decoration: none;
        }
      }
    }
  }

  &__link {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}
