.popup {
  @local-red: #91282f;
  border: 5px solid @local-red;
  padding: @pad*4 @pad*2;
  @media @screen-small {
    padding: @pad;
  }
  &__header{
    padding-bottom: @pad*2;
    &-title {
      text-align: center;
      color: @local-red;
      font-weight: bold;
      margin-bottom: @pad;
    }
    &-txt {
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__btn {
    border: 0;
    background: @local-red;
    color: @inverse;
    padding: @pad @pad*2;
    display: inline-block;

    .hover(@inverse);
    &-wrap {
      text-align: center;
      margin-top: @pad*2;
    }
  }

  &__form {
    &-inp {
      display: block;
      border: 0;
      width: 100%;
      border-bottom: 2px solid @primary;
    }
  }
}
