.sizing-chart {
  &__item {
    
    
    &-title {
      margin-bottom: @pad;
    }
  }
  &__item + &__item {
      border-top: 1px solid @grey;
      padding-top: @pad*2;
      margin-top: @pad*2;
  }
}
 