.heading {
  padding-bottom: @pad*2;
  &__text {
    margin: : 0;
    font-size: @fz*2.75;
  }
}

.text {
  &-medium {
    font-size: @fz*1.75;
  }

  &-regular {
    font-size: @fz*1.25;
  }

  &-init {
    font-size: @fz;
  }

  &-mb {
    margin-bottom: @pad*2;
  }
}
