.heading {
  padding-bottom: @pad*2;
  &__text {
    margin: 0;
    font-size: @fz*1.35;
    @media @screen-tablet {
      font-size: @fz*2.25;
    }
    @media @screen-xlarge {
      font-size: @fz*2.5;
    }
  }
}

.text {
  &-black {
    background: @primary;
    color: @inverse;
  }

  &-big {
    font-size: @fz*2;
    @media @screen-xlarge {
      font-size: @fz*2.5;
    }
    @media @screen-small {
      font-size: @fz*1.25;
    }
  }

  &-xlarge {
    font-size: @fz*2.5;
    @media @screen-xlarge {
      font-size: @fz*2.75;
    }
  }

  &-medium {
    font-size: @fz;
    @media @screen-tablet {
      font-size: @fz*1.35;
    }
    @media @screen-xlarge {
      font-size: @fz*1.5;
    }
  }

  &-regular {
    font-size: @fz*1.25;
    @media @screen-xlarge {
      font-size: @fz*1.5;
    }
    @media @screen-small {
      font-size: @fz*0.8;
    }
  }

  &-init {
    font-size: @fz;
    @media @screen-xlarge {
      font-size: @fz*1.25;
    }
  }

  &-small {
    font-size: @fz*0.9;
    @media @screen-xlarge {
      font-size: @fz*1.25;
    }
  }

  &-xsmall {
    font-size: @fz*0.75;
    @media @screen-xlarge {
      font-size: @fz;
    }
  }

  &-mb, &-container p {
    margin-bottom: @pad*2;
  }

  &-container {
    &--bt {
      border-top: 1px solid @primary;
    }
  }
}
