<section class="contacts">
	<img src="img/icon-close.png" class="contacts__close js-close-icon">
	<div class="contacts-wrap">
		<div class="contacts__email-wrap">
			<p>email:</p>
			<p>ianponsjewell@gmail.com</p>
		</div>
		<div class="contacts__email-wrap mt20">
			<p>Representation:</p>
			<p>Friend(UK)</p>
			<p>RESET(USA)</p>
			<p>Revolver(Canada)</p>
		</div>
		<ul class="contacts__social mt20">
			<li class="contacts__social-item">
				<a href="" class="contacts__social-link">
					<img src="img/social-vimeo.png" class="contacts__social-img">
				</a>
			</li>
			<li class="contacts__social-item">
				<a href="" class="contacts__social-link">
					<img src="img/social-fb.png" class="contacts__social-img">
				</a>
			</li>
			<li class="contacts__social-item">
				<a href="" class="contacts__social-link">
					<img src="img/social-tw.png" class="contacts__social-img">
				</a>
			</li>
			<li class="contacts__social-item">
				<a href="" class="contacts__social-link">
					<img src="img/social-inst.png" class="contacts__social-img">
				</a>
			</li>
		</ul>
	</div>
</section>