<footer class="footer">
	<div class="container">
		<div class="hidden-md hidden-lg footer__mobile-info">
			<div class="footer__mobile-info-txt" data-toggle="" data-href="footer-mobile-list"> INFORMATION</div>
			<div class="row footer__mobile-list" id="footer-mobile-list">
				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link">shipping</a>
				</div>
				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link">returns</a>
				</div>
				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link" data-modal="show" data-modal-id="footer-sizing">sizing</a>
				</div>

				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link">terms of use</a>
				</div>
				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link">about</a>
				</div>
				<div class="col-sm-6 col-xs-6 footer__mobile-item">
					<a href="" class="footer__menu-link">contact</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="footer__menu">
					<div class="footer__menu-logo">
						<a href="/" class="footer__menu-link">©Barking Irons - New York</a>
					</div>
					<div class="footer__menu-extra hidden-sm hidden-xs hidden-md">
						<ul class="footer__menu-list footer__menu-extra-list">
							<li class="footer__menu-item footer__menu-extra-item">
								<a href="terms.html" class="footer__menu-link">Terms of use</a>
							</li>
							<li class="footer__menu-item footer__menu-extra-item">
								<a href="terms.html#privacy-policy" class="footer__menu-link">Privacy policy</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<nav class="footer__menu footer__menu--end">
					<ul class="footer__menu-list  hidden-sm hidden-xs">
						<li class="footer__menu-item">
							<a href="#" class="footer__menu-link" data-modal="show" data-modal-id="signup-newsletter">Sign up</a>
						</li>
						<li class="footer__menu-item">
							<a href="#" class="footer__menu-link" data-modal="show" data-modal-id="footer-sizing">Sizing</a>
						</li>
						<li class="footer__menu-item">
							<a href="shipping-returns.html" class="footer__menu-link">Shipping</a>
						</li>
						<li class="footer__menu-item">
							<a href="shipping-returns.html" class="footer__menu-link">Returns</a>
						</li>
						<li class="footer__menu-item">
							<a href="about.html" class="footer__menu-link">About</a>
						</li>
						<li class="footer__menu-item">
							<a href="about.html#about-contact-acnhor" class="footer__menu-link">Contact</a>
						</li>
					</ul>
					<div class="footer__menu-social">
						<a href="https://www.facebook.com/Barking-Irons-114392436064/" class="footer__menu-social-a">
							<img src="img/icons/icon-fb.png" alt="social" class="footer__menu-social-i">
						</a>
						<a href="https://twitter.com/barkingironsny" class="footer__menu-social-a">
							<img src="img/icons/icon-twit.png" alt="social" class="footer__menu-social-i">
						</a>
						<a href="https://www.instagram.com/barkingironsny/" class="footer__menu-social-a">
							<img src="img/icons/icon-inst.png" alt="social" class="footer__menu-social-i">
						</a>
					</div>
				</nav>
			</div>

		</div>

	</div>
</footer>

//= sizing-chart.html
//= geopopup.html
//= common-js.html
//= signup.html
