<section class="full-video">
	<img src="img/icon-close.png" class="full-video__close js-close-icon">
	<div class="full-video__wrap-r">
		<div class="full-video__wrap">
			<div class="full-video__list owl-carousel">
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_1" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/01_miss-nothing.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/01_miss-nothing.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">miss-nothing</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_2" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/02_fireplace.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/02_fireplace.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">third video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_3" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/03_pinata.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/03_pinata.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_4" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/04_stand-witness.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/04_stand-witness.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
								<p>exec producer _ Nabil Elderkin, Justin Benoliel</p>
								<p>producer _ Whitney Jackson, Jade Forte</p>
								<p>1st AD _ Jonas Morales</p>
								<p>dop _ Martim Vian</p>
								<p>steadicam _ Damien Church</p>
								<p>gaffer _ Will Elder</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_5" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/05_your-project.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/05_your-project.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>

							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>

							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_6" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/06_my-only-friend.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/06_my-only-friend.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_7" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/07_choices.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/07_choices.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_8" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/08_guru.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/08_guru.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_9" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/09_deep-down-low.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/09_deep-down-low.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_10" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/10_bad-blood.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/10_bad-blood.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_11" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/11_blakkst-skn.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/11_blakkst-skn.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_12" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/12_senorita.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/12_senorita.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_13" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/13_one-day.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/13_one-day.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">Forth video</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_14" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/14_make-it-last.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/14_make-it-last.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">make-it-last</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video id="example_video_15" class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/15_say-my-name.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/15_say-my-name.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">say-my-name</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/16_home.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/16_home.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">home</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/17_rollerblades.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/17_rollerblades.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">rollerblades</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/18_angels.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/18_angels.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">angels</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/19_another.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/19_another.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">another</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/20_dojo-rising.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/20_dojo-rising.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">another</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/21_la-la-la.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/21_la-la-la.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">another</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/22_in-limbo.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/22_in-limbo.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">another</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/23_bashful.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/23_bashful.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">another</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/24_1-4.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/24_1-4.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/25_dreamt-in-flesh.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/25_dreamt-in-flesh.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/26_the-circus.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/26_the-circus.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/27_follow.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/27_follow.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/28_im-excited.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/28_im-excited.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/29_disappoint-you.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/29_disappoint-you.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
				<div class="full-video__item">
					<div class="full-video__prod">
						<video class="video-js vjs-default-skin js-full-video"
							controls preload="auto" width="1000" 
							poster="img/gif/30_starting-over.jpg"
							data-setup='{"example_option":true}'>
							<source src="video/30_starting-over.mp4" type="video/mp4" />
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div>
					<div class="full-video__descr">
						<p class="full-video__descr-txt">bashful</p>
						<div class="full-video__descr-full">
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
							</div>
							<div class="full-video__descr-item">
								<p>Credits</p> 
								<p>SONG _ SEÑORITA</p>
								<p>artist _ Vince Staples</p>
								<p>production co _ The Swordfight</p>
								<p>director _ Ian Pons Jewell</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>