<div class="modal-block modal-block--darken" id="change-geo-block">
	<div class="container modal-block__container">
	  <div class="modal-block__innner modal-block__innner--smpd">
	  	<div class="popup">
				<div class="popup__header">
					<h4 class="popup__header-title text-big">Shopping from outside of North America?</h4>
					<p class="popup__header-txt text-xlarge">Visit our EU site to
save on shipping</p>
				</div>

				<div class="popup__btn-wrap">
					<a href="https://barkingirons-uk.com" class="popup__btn">VISIT</a>
				</div>
		  </div>
		  <span class="modal-block__button modal-block__button--close" data-modal="close"></span>
	  </div>
	</div>
</div>
