<head>
	<meta charset="utf-8">
	<title>BARKING IRONS</title>
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


	<link type="text/css" rel="stylesheet" href="css/global/bootstrap.css">
	<link rel="stylesheet" href="css/global/owl.carousel.css">
	<link rel="stylesheet" href="css/global/owl.theme.default.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"> -->
	<!-- Load CSS End-->
	<!-- Load CSS Compilled without JS-->
	<script src="js/global/jquery.min.js"></script>
	<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
 
</head>
