<div class="">
	<div id="shopify-section-1537257398968" class="shopify-section index-section index-section--flush">
		<div class="grid grid--no-gutters image-bar image-bar--medium main-page__grid">
			<div class="grid__item medium-up--one-third" >
				<a class="image-bar__link" href="/collections/blanks">
		    	<div class="image-bar__item box ratio-container lazyload"
		      	data-bgset="//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image_180x.jpg?v=1540488238 180w 192h,
		    	//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image_360x.jpg?v=1540488238 360w 383h,
		    	//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image_540x.jpg?v=1540488238 540w 575h,
		    	//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image_720x.jpg?v=1540488238 720w 767h,
		    	//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image.jpg?v=1540488238 751w 800h"
		      	data-sizes="auto"
		        data-parent-fit="cover"
		        style="background-position: center; background-image: url('//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image.jpg?v=1540488238);">
			      <div class="image-bar__content">
			          <div class="image-bar__text">
			            <h3 class="image-bar__caption main-page__grid-text">Classic Brando Tees</h3>
			          </div>
			      </div>

					</div>
				</a>
			</div>
		  <noscript>
		    <div class="grid__item medium-up--one-third" >
		      <div class="image-bar__item image-bar__item--1537257398968-0" style="background-image: url(//cdn.shopify.com/s/files/1/0021/7448/4547/files/Brando-bottom-image_2048x.jpg?v=1540488238);"></div>
		    </div>
		  </noscript>
		  <div class="grid__item medium-up--one-third" >
				<a class="image-bar__link" href="/collections/red-dead-redemption-2">
					<div class="image-bar__item box ratio-container lazyload"
					data-bgset="//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt_180x.jpg?v=1548193149 180w 192h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt_360x.jpg?v=1548193149 360w 384h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt_540x.jpg?v=1548193149 540w 576h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt_720x.jpg?v=1548193149 720w 768h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt.jpg?v=1548193149 750w 800h"
					data-sizes="auto"
					data-parent-fit="cover"
					style="background-position: center; background-image: url('//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt.jpg?v=1548193149);">
						<div class="image-bar__content">
							<div class="image-bar__text">
								<h3 class="image-bar__caption main-page__grid-text">RDR2 Collection</h3>
							</div>
						</div>
					</div>
				</a>
			</div>
		  <noscript>
		    <div class="grid__item medium-up--one-third" >
		      <div class="image-bar__item image-bar__item--1537257398968-1" style="background-image: url(//cdn.shopify.com/s/files/1/0021/7448/4547/files/Bottom_Image_Denim_Shirt_2048x.jpg?v=1548193149);"></div>
		    </div>
		  </noscript>
			<div class="grid__item medium-up--one-third" >
				<a class="image-bar__link" href="/collections/accessories">
					<div class="image-bar__item box ratio-container lazyload"
					data-bgset="//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom_180x.jpg?v=1540488365 180w 192h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom_360x.jpg?v=1540488365 360w 384h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom_540x.jpg?v=1540488365 540w 576h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom_720x.jpg?v=1540488365 720w 768h,
					//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom.jpg?v=1540488365 750w 800h"
					data-sizes="auto"
					data-parent-fit="cover"
					style="background-position: center; background-image: url('//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom.jpg?v=1540488365);">
						<div class="image-bar__content">
							<div class="image-bar__text">
								<h3 class="image-bar__caption main-page__grid-text">Accessories</h3>
							</div>
						</div>
					</div>
				</a>
			</div>
			<noscript>
				<div class="grid__item medium-up--one-third" >
					<div class="image-bar__item image-bar__item--1537257398968-2" style="background-image: url(//cdn.shopify.com/s/files/1/0021/7448/4547/files/Duffle-brown-bottom_2048x.jpg?v=1540488365);"></div>
				</div>
			</noscript>
		</div>
	</div>

</div>
