<section class="instagram" id="instagram-wrap">
<!-- InstaWidget -->
	<a class="instagram__text" href="https://www.instagram.com/barkingironsny/" target="_blank">
		<span class="instagram__text-head">#BARKINGINSTYLE</span>
		<span class="instagram__view">VIEW GALLERY</span>
	</a>
	<div class="instagram__row">
		<div class="instagram__item">
			<img src="https://cdn.shopify.com/s/files/1/0021/7448/4547/files/inst-1.jpg?381" alt="inst">
		</div>
		<div class="instagram__item">
			<img src="https://cdn.shopify.com/s/files/1/0021/7448/4547/files/inst-2.jpg?381" alt="inst">
		</div>
		<div class="instagram__item">
			<img src="https://cdn.shopify.com/s/files/1/0021/7448/4547/files/inst-3.jpg?381" alt="inst">
		</div>
		<div class="instagram__item">
			<img src="https://cdn.shopify.com/s/files/1/0021/7448/4547/files/inst-4.jpg?381" alt="inst">
		</div>
	</div>
</section>
