<section class="instagram">
<!-- InstaWidget -->
	<div class="" id="instagram">

	</div>
	<script>
		$(window).load(function(){
			/*
		  $.getScript('https://instawidget.net/js/instawidget.js?u=a14b51a694c03b839bbfe19af381b20e042e8116218acd1cf8bfbb8501bc2af2&width=100%', function() {
		    alert('Load is completed');
		  });
			*/
			function instawidget_adjust_height(e) {
				if (e.origin === "http://instawidget.net" || e.origin === "https://instawidget.net") {
					document.getElementById("a14b51a694c03b839bbfe19af381b20e042e8116218acd1cf8bfbb8501bc2af2").style.height = e.data + "px";
				}
			}

			function instawidget_render_iframe() {
				var link = document.getElementById('link-a14b51a694c03b839bbfe19af381b20e042e8116218acd1cf8bfbb8501bc2af2');
				if (link) { link.style.display = 'none'; }
				var block = document.getElementById('instagram');
				console.log(block);
				block.innerHTML = "<iframe id=\"a14b51a694c03b839bbfe19af381b20e042e8116218acd1cf8bfbb8501bc2af2\" style=\"border:0;width:100%; height: 476px; margin:0;padding:0;\" scrolling=\"no\" frameborder=\"no\" src=\"https://instawidget.net/embed?u=a14b51a694c03b839bbfe19af381b20e042e8116218acd1cf8bfbb8501bc2af2\"></iframe>";
			}

			instawidget_render_iframe();
		});
	</script>
</section>
