<section class="main-screen" id="main-screen">

	<div class="main-screen__slider owl-carousel owl-theme" id="about-established" data-autoplay="true" data-speed="5000">
	  <div class="main-screen__slider-item">
	    <a href="hui.html">
	      <img src="img/header/heder-1.jpg" alt="heder-1.jpg" class="main-screen__slider-obj">
	    </a>
	  </div>
	  <div class="main-screen__slider-item">
	    <a href="hui.html">
	      <img src="img/header/heder-2.jpg" alt="heder-1.jpg" class="main-screen__slider-obj">
	    </a>
	  </div>
	</div>

	<div class="main-screen__slider--mobile">
	  <div class="main-screen__slider-item">
	    <a href="hui.html">
	      <img src="img/single/img1.jpg" alt="heder-1.jpg" class="main-screen__slider-obj">
	    </a>
	  </div>
	  <div class="main-screen__slider-item">
	    <a href="hui.html">
	      <img src="img/single/img1.jpg" alt="heder-1.jpg" class="main-screen__slider-obj">
	    </a>
	  </div>
	</div>
</section> 