<nav class="nav-bar">
	<div class="menu-desktop visible-md visible-lg">
		<ul class="nav-bar__list row">
			<li class="nav-bar__list-item col-sm-2">
				<a href="projects.html" class="nav-bar__list-link">WORK</a>
			</li>
			<li class="nav-bar__list-item col-sm-8">
				<a href="index.html" class="nav-bar__list-link nav-bar__list-link--logo">IAN PONS JEWELL</a>
			</li>
			<li class="nav-bar__list-item col-sm-2">
				<a href="" class="nav-bar__list-link js-contact-menu">CONTACT</a>
			</li>
		</ul>
	</div>
</nav>
<div class="menu-mobile visible-xs visible-sm">
	<span class="menu-mobile__icons">
		<img src="img/hamb.png" class="menu-mobile__icon img-responsive">
		<img src="img/icon-close.png" class="menu-mobile__icon img-responsive" style="display: none;">
	</span>
	<a href="index.html" class="menu-mobile__logo nav-bar__list-link">IAN PONS JEWELL</a>
	<div class="menu-mobile__full mt10">
		<ul class="menu-mobile__list">
			<li>
				<a href="projects.html" class="nav-bar__list-link">WORK</a>
			</li>
			<li>
				<a href="" class="nav-bar__list-link js-contact-menu">CONTACT</a>
			</li>
		</ul>
	</div>
</div>