<header class="header">
	<div class="container">
		<div class="row main-menu">
			<nav class="col-sm-9">
				<ul class="main-menu__list">
					<li class="main-menu__item">
						<a href="/" class="main-menu__logo">BARKING IRONS</a>
					</li>
					<li class="main-menu__item">
						<a href="" class="main-menu__link">Collections</a>
						<ul class="main-menu__dropdown">
							<li>
								<a href="#">BILLY JOEL</a>
							</li>
							<li>
								<a href="#">KINGS OF LEON</a>
							</li>
							<li>
								<a href="#">ROCKSTAR GAMES</a>
							</li>
						</ul>
						<div class="main-menu__dropdown archive">
								<a href="#">ARCHIVE</a>
						</div>
					</li>
					<li class="main-menu__item dropdown">
						<a href="" class="main-menu__link">Shop</a>
						<ul class="main-menu__dropdown">
							<li>
								<a href="#">T-SHIRTS</a>
							</li>
							<li>
								<a href="#">SHIRTS</a>
							</li>
							<li>
								<a href="#">OUTERWEAR</a>
							</li>
							<li>
								<a href="#">ACCESSORIES</a>
							</li>
						</ul>
					</li>
					<li class="main-menu__item"><a href="" class="main-menu__link">Mix-Tapes</a></li>
					<li class="main-menu__item"><a href="" class="main-menu__link">Spirits</a></li>
				</ul>
			</nav>
			<div class="header__right  col-sm-3">
				<div class="main-menu__list main-menu__list--about">
					<div class="main-menu__item"><a href="about.html" class="main-menu__link">About</a></div>
					<div class="main-menu__item"><a href="#" class="main-menu__search"></a></div>
					<div class="main-menu__item main-menu__item--bag"><a href="" class="main-menu__bag">(<span id="in-bag-count">0</span>)</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__search">
		<div class="container">
			<form class="header__search-form" action="search.html" method="post">
				<input type="text" name="search" value="" placeholder="SEARCH HERE" class="header__search-form">
				<button type="button"></button>
			</form>
		</div>
	</div>
</header>
