<header class="header">
	<div class="container">
		<div class="row main-menu">
			<nav class="col-sm-9">
				<ul class="main-menu__list">
					<li class="main-menu__item">
						<a href="/" class="main-menu__logo">BARKING IRONS</a>
					</li>
					<li class="main-menu__item">
						<a href="category.html" class="main-menu__link">Collections</a>
						<ul class="main-menu__item-dropdown">
							<li>
								<a href="category.html">BILLY JOEL</a>
							</li>
							<li>
								<a href="category.html">KINGS OF LEON</a>
							</li>
							<li>
								<a href="category.html">ROCKSTAR GAMES</a>
							</li>
						</ul>
						<!--
						<div class="main-menu__item-dropdown archive">
								<a href="#">ARCHIVE</a>
						</div>
					-->
					</li>
					<li class="main-menu__item dropdown">
						<a href="" class="main-menu__link">Shop</a>
						<ul class="main-menu__item-dropdown">
							<li>
								<a href="#">T-SHIRTS</a>
							</li>
							<li>
								<a href="#">SHIRTS</a>
							</li>
							<li>
								<a href="#">OUTERWEAR</a>
							</li>
							<li>
								<a href="#">ACCESSORIES</a>
							</li>
						</ul>
					</li>
					<li class="main-menu__item"><a href="" class="main-menu__link">Mix-Tapes</a></li>
					<li class="main-menu__item"><a href="" class="main-menu__link">Spirits</a></li>
				</ul>
			</nav>
			<div class="header__right  col-sm-3">
				<div class="main-menu__list main-menu__list--about">
					<div class="main-menu__item"><a href="about.html" class="main-menu__link">About</a></div>
					<div class="main-menu__item"><a href="#" class="main-menu__search"></a></div>
					<div class="main-menu__item main-menu__item--bag">
						<a href="checkout.html" class="main-menu__bag">(<span id="in-bag-count">1</span>)</a>
						<div class="main-menu__checkout text-small">
							<div class="main-menu__checkout-info">
								<div class="flex-list flex-list--spb">
									<div class="flex-list__item text-xsmall">
										<div class="heading">
											<div>
												Vuestro Jefe Tee
											</div>
											<div>
												$75.00 X 1
											</div>
										</div>
										<div class="flex-list">
											<div class="flex-list__item">
												SIZE: XS
											</div>
											<div class="flex-list__item">
												EDIT
											</div>
										</div>
									</div>
									<div class="flex-list__item">
										<img src="img/img7.jpg" alt="alt" class="main-menu__checkout-img">
									</div>
								</div>
							</div>
							<div class="main-menu__checkout-view">
								<a href="checkout.html">VIEW BAG 1 ITEM</a>
							</div>
							<div class="main-menu__checkout-btn">
								<a href="checkout.html">CHECKOUT NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__search-wrap hidden">
		<div class="header__search">
			<div class="container">
				<form class="header__search-form" action="search.html" method="GET">
					<input type="text" name="search" value="" placeholder="SEARCH HERE" class="header__search-control">
					<button type="button" class="header__search-btn">X</button>
				</form>
			</div>
		</div>
		<div class="header__suggestions">
			<div class="container">
				<ul class="header__suggestions-list">
					<li class="header__suggestions-item">
						<a href="#" class="header__suggestions-link">Suggestions</a>
					</li>
					<li class="header__suggestions-item">
						<a href="#" class="header__suggestions-link">Bags</a>
					</li>
					<li class="header__suggestions-item">
						<a href="#" class="header__suggestions-link">T-SHIRTS</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</header>
