<div class="modal-block modal-block--darken" id="signup-newsletter">
	<div class="container modal-block__container">
	  <div class="modal-block__innner modal-block__innner--smpd">
	  	<div class="popup">
				<div class="popup__header">
					<h4 class="popup__header-title text-big">JOIN UP</h4>
					<p class="popup__header-txt text-regular">GET ALL OUR UPDATES AND ADDITIONAL BONUSES</p>
				</div>
				<form class="popup__form" action="" method="post" id="signup-form">
					<input type="email" class="popup__form-inp" name="signup-email" value="" placeholder="Email" required>
					<div class="popup__btn-wrap">
						<button type="submit" name="button" class="popup__btn">SUBMIT</button>
					</div>
				</form>
		  </div>
		  <span class="modal-block__button modal-block__button--close" data-modal="close"></span>
	  </div>
	</div>
</div>
