<div class="modal-block modal-block--darken" id="footer-sizing">
	<div class="container modal-block__container">
	  <div class="modal-block__innner">
	  	<h4 class="modal-block__title heading text-medium bold">GENERAL SIZING CHART</h4>
	  	<div class="sizing-chart">
		    <div class="sizing-chart__item">
				<div class="mb30">
					<div class="sizing-chart__item-title">
						<span class="bold">ITEM:</span>
						<span>Brando T-shirt </span>
					</div>
					<div>
						<span>☑️</span>
						<span>Classic, Fitted Tee</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Slightly Raised Sleeves</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Quarter Inch neck rib </span>
					</div>
				</div>

				<table>
					<tbody>
						<tr>
							<td>(inches)</td>
							<td>SMALL </td>
							<td>MEDIUM </td>
							<td>LARGE</td>
							<td>XL </td>
							<td>XXL </td>
							<td></td>
						</tr>
						<tr>
							<td>Chest</td>
							<td>39.5"</td>
							<td>41.5"</td>
							<td>44"</td>
							<td>46"</td>
							<td>50"</td>
							<td></td>
						</tr>
						<tr>
							<td>Length </td>
							<td>26"</td>
							<td>27.5"</td>
							<td>28.5"</td>
							<td>30"</td>
							<td>31"</td>
							<td></td>
						</tr>
						<tr>
							<td>Sleeve</td>
							<td>8"</td>
							<td>8.25"</td>
							<td>9"</td>
							<td>9.25"</td>
							<td>9.5"</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="sizing-chart__item">
				<div class="mb30">
					<div class="sizing-chart__item-title">
						<span class="bold">ITEM:</span>
						<span>1984 T-shirt</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Wide Body 1980's Fit</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Half Inch Neck Rib</span>
					</div>
				</div>
				<table>
					<tbody>
						<tr>
							<td>(inches)</td>
							<td>XS</td>
							<td>SMALL </td>
							<td>MEDIUM </td>
							<td>LARGE</td>
							<td>XL</td>
						</tr>
						<tr>
							<td>Chest</td>
							<td>45"</td>
							<td>47"</td>
							<td>51"</td>
							<td>52"</td>
							<td>52"</td>
						</tr>
						<tr>
							<td>Length </td>
							<td>24.5"</td>
							<td>24.5"</td>
							<td>25.5"</td>
							<td>26"</td>
							<td>27.5"</td>
						</tr>
						<tr>
							<td>Sleeve</td>
							<td>5.5"</td>
							<td>6"</td>
							<td>7"</td>
							<td>7"</td>
							<td>8"</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="sizing-chart__item">
				<div class="mb30">
					<div class="sizing-chart__item-title">
						<span class="bold">ITEM:</span>
						<span>Denim Jacket</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Drop shoulder 1990's fit</span>
					</div>
				</div>
				<table>
					<tbody>
						<tr>
							<td>(inches)</td>
							<td>XS</td>
							<td>SMALL </td>
							<td>MEDIUM </td>
							<td>LARGE</td>
							<td>XL</td>
						</tr>
						<tr>
							<td>Chest</td>
							<td>NA</td>
							<td>41"</td>
							<td>42"</td>
							<td>43"</td>
							<td>44"</td>
						</tr>
						<tr>
							<td>Length </td>
							<td>NA</td>
							<td>24"</td>
							<td>25.25"</td>
							<td>26.5"</td>
							<td>28"</td>
						</tr>
						<tr>
							<td>Sleeve</td>
							<td>NA</td>
							<td>22.5"</td>
							<td>23"</td>
							<td>23.5"</td>
							<td>24"</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="sizing-chart__item">
				<div class="mb30">
					<div class="sizing-chart__item-title">
						<span class="bold">ITEM:</span>
						<span>Sweatshirts</span>
					</div>
					<div>
						<span>☑️</span>
						<span>Roomy Fit</span>
					</div>
				</div>
				<table>
					<tbody>
						<tr>
							<td>(inches)</td>
							<td>SMALL </td>
							<td>MEDIUM </td>
							<td>LARGE</td>
							<td>XL</td>
							<td>XXL</td>
						</tr>
						<tr>
							<td>Chest</td>
							<td>45"</td>
							<td>48"</td>
							<td>50"</td>
							<td>52"</td>
							<td>56"</td>
						</tr>
						<tr>
							<td>Length </td>
							<td>26"</td>
							<td>27"</td>
							<td>27.5"</td>
							<td>28.5"</td>
							<td>29"</td>
						</tr>
						<tr>
							<td>Sleeve</td>
							<td>23"</td>
							<td>24"</td>
							<td>25"</td>
							<td>25.5"</td>
							<td>27"</td>
						</tr>
					</tbody>
				</table>
			</div>
		  </div>
		  <span class="modal-block__button modal-block__button--close" data-modal="close"></span>
	  </div>
	</div>
</div>