@font-face {
  font-family: ApercuPro;
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Regular.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Regular.otf);

}
@font-face {
  font-family: ApercuPro;
  font-weight: 700;
  font-style: normal;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Bold.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Bold.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 700;
  font-style: italic;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-BoldItalic.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-BoldItalic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 400;
  font-style: italic;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Italic.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Italic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 300;
  font-style: normal;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Light.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Light.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 300;
  font-style: italic;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-LightItalic.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-LightItalic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 600;
  font-style: normal;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Medium.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Medium.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 600;
  font-style: italic;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-MediumItalic.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-MediumItalic.otf);
}
@font-face {
  font-family: ApercuProMono;
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/ApercuPro-Mono.otf?10987073659873091161);
  //src: url(../fonts/ApercuPro/ApercuPro-Mono.otf);
}
