@font-face {
  font-family: ApercuPro;
  font-weight: 400;
  font-style: normal;
  src: url(~/fonts/ApercuPro/ApercuPro-Regular.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 700;
  font-style: normal;
  src: url(~/fonts/ApercuPro/ApercuPro-Bold.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 700;
  font-style: italic;
  src: url(~/fonts/ApercuPro/ApercuPro-BoldItalic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 400;
  font-style: italic;
  src: url(~/fonts/ApercuPro/ApercuPro-Italic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 300;
  font-style: normal;
  src: url(~/fonts/ApercuPro/ApercuPro-Light.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 300;
  font-style: italic;
  src: url(~/fonts/ApercuPro/ApercuPro-LightItalic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 600;
  font-style: normal;
  src: url(~/fonts/ApercuPro/ApercuPro-Medium.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 600;
  font-style: italic;
  src: url(~/fonts/ApercuPro/ApercuPro-MediumItalic.otf);
}
@font-face {
  font-family: ApercuPro;
  font-weight: 400;
  font-style: normal;
  src: url(~/fonts/ApercuPro/ApercuPro-Mono.otf);
}
