@import 'variables.less';
@import 'fonts.less';
style html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0; }
body { font-family: ApercuProMono, Tahoma, sans-serif; font-size: @fz; color: #000; background: #fff;}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
a { text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }

.overflow {
  padding-top: @header-height;
}

.owl-carousel {
  & .owl-nav {
    margin-top: 0;
    & button.owl-prev, & button.owl-next, & [class*='owl-']:hover {
      background: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/slider-arrow_29c3dfd1-d3df-4954-a387-8c7944b4484b.png?2908612344843250255) center center no-repeat;
      width: 35px;
      height: 105px;
      color: rgba(255,255,255,0);
    }
    & button.owl-next {
      .transform(rotate(180deg));
    }
  }
}


.main {
  &-list {
    & li {
      position: relative;
      padding-left: @pad  ;
      margin-bottom: @pad;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        left: -10px;
        top: -3px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: @primary;
      }
    }
    &--num {
      counter-reset: section;
      & li {
        counter-increment: section;
        &:before {
          content: counter(section);
          top: 0;
          background: none;
        }
      }

    }
  }
  &-map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

/* Components */
@import 'components/buttons.less';
@import 'components/main-menu.less';
@import 'components/footer.less';
@import 'components/text.less';
@import 'components/header.less';
@import 'components/loading.less';
@import 'components/instagram.less';
@import 'components/flex-list.less';
@import 'components/collection.less';
@import 'components/modal.less';
@import 'components/amount.less';


/* PAGES */
@import 'pages/index.less';
@import 'pages/about.less';
@import 'pages/single.less';
@import 'pages/category.less';
@import 'pages/checkout.less';
@import 'pages/search.less';
