.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--est {
    background: url(/img/about/screen1.jpg) center top no-repeat;
    color: @inverse;
  }

  &--merch {
    background: url(/img/about/screen2.jpg) center top no-repeat;
    color: @primary;
  }

  &--distil {
    background: url(/img/about/screen3.jpg) center top no-repeat;
    color: @inverse;
  }
}
