.about {

  &--est {
    color: @inverse;
  }

  &--merch {
    background: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/about2.jpg) center top no-repeat;
    color: @primary;
  }

  &--distil {
    background: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/about3.jpg) center center no-repeat;
    color: @inverse;
  }

  &__slider {
    position: relative;
    
    &-item {
      height: 100vh;
      min-height: 900px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      background-repeat: no-repeat;
      background-position: center top;
      &-wrap {
        padding: 0 @pad*2;
        @media @screen-large {
          padding: 0 120px;
          width: 1000px;
        }

        @media @screen-xlarge {
          width: 1400px;
        }
        font-size: @fz*1.75;  
      }
      
    }
    &-title {
      font-size: @fz*2.75;
      text-transform: uppercase;
      margin-bottom: @pad*2;
    }

    & .owl-nav {
      & button.owl-prev, & button.owl-next {
        position: absolute;
        top: 50%;
        margin-top: -68px;
      }
      & button.owl-prev {
        left: 0;
      }
      & button.owl-next {
        right: 0;
      }
    }
  }

  &__contacts{

    &-row {
      display: flex;
      min-height: 100vh;
    }
    @media @screen-small {
     &-row {
      display: block;

      }
    }
    &-item {
      width: 50%;
    }
    @media @screen-small {
     &-item {
      width: 100%;
    }
    }
    &-map {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
    }
    @media @screen-small {
      &-map {
       position: relative;
       width: 100%;
       margin-top: @pad*2;
      }
    }
    &-figure {
      margin-bottom: @pad*2;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: @pad;
    }
  }
}
