.about {
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--est {
    background: url(/img/about/screen1.jpg) center top no-repeat;
    color: @inverse;
  }

  &--merch {
    background: url(/img/about/screen2.jpg) center top no-repeat;
    color: @primary;
  }

  &--distil {
    background: url(/img/about/screen3.jpg) center center no-repeat;
    color: @inverse;
  }

  &__slider {
    position: relative;
    width: 1000px;

    &-item {
      padding: 0 120px;

      font-size: @fz*1.75;
    }
    &-title {
      font-size: @fz*2.75;
      text-transform: uppercase;
      margin-bottom: @pad*2;
    }

    & .owl-nav {
      & button.owl-prev, & button.owl-next {
        position: absolute;
        top: 50%;
        margin-top: -68px;
      }
      & button.owl-prev {
        left: 0;
      }
      & button.owl-next {
        right: 0;
      }
    }
  }

  &__contacts{
    &-row {
      display: flex;
      height: 100vh;
    }

    &-item {
      width: 50%;
    }
    &-map {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
