.category {
  &-box {
    font-size: 0;
    margin: 0 -@pad/2;
    &__item {
      padding: @pad/2;
      display: inline-block;
      position: relative;
      width: 50%;
      color: @primary;
      vertical-align: top;
      .hover(@primary);

      @media @screen-xs-only {
        width: 100%
      }

      @media @screen-desktop {
        width: 33.333333333%;
      }
      &--cur {
        background: @primary;
        float: left;
      }

      &--big {
        max-width: 100%;
        width: auto;
        float: right;
        @media @screen-desktop {
          max-width: 66.6666%;
        }
      }

      &-head {
        color: @inverse;
        padding-top: @pad*3;
        text-align: center;
        font-size: @fz*1.5;
        text-transform: uppercase;
      }

      &-title {
        padding: @pad @pad @pad*2 @pad;
        font-size: @fz;
        text-align: center;

        @media @screen-xlarge {
          font-size: @fz*1.25;
        }
        &--alt {
          text-transform: uppercase;
          font-size: @fz*2;
          bottom: 50%;
          margin-bottom: -39px;
          text-align: center;
         & a, &.category-box__item-head {
          color: @inverse;
          .hover(@inverse);
        }
        }
      }
    }

  }
}
