.category {
  &-box {
    font-size: 0;
    margin: 0 -@pad/2;
    &__item {
      padding: @pad/2;
      display: inline-block;
      position: relative;
      width: 50%;
      color: @primary;
      vertical-align: top;
      .hover(@primary);

      @media @screen-xs-only {
        width: 100%
      }

      @media @screen-desktop {
        width: 33.333333333%;
      }
      &--cur {
        background: @primary;
        float: left;
      }

      &--big {
        max-width: 100%;
        width: auto;
        float: right;
        @media @screen-desktop {
          max-width: 66.6666%;
        }
      }

      &-head {
        color: @inverse;
        padding-top: @pad*3;
        text-align: center;
        font-size: @fz*1.5;
        text-transform: uppercase;
      }

      &-title {
        padding: @pad @pad @pad*2 @pad;
        font-size: @fz;
        text-align: center;

        @media @screen-xlarge {
          font-size: @fz*1.25;
        }
        &--alt {
          text-transform: uppercase;
          font-size: @fz*2;
          bottom: 50%;
          margin-bottom: -39px;
          text-align: center;
           & a, &.category-box__item-head {
            color: @inverse;
            .hover(@inverse);
          }
        }
      }

      &-img {
        position: relative;
      }

      &-buy {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background: rgba(255,255,255,0.5);
        padding: @pad;
        font-size: @fz;
        text-align: center;
        display: none;
      }
      &:hover {
        & .category-box__item-buy {
          display: block;
        }
      }

      &-btn {
        margin-bottom: @pad/2;
      }

      &-size {
        display: inline-block;
        padding: 2px 5px;
        border: 2px solid @primary;
        margin: 0 @pad/2;
        &_out {
          position: relative;
          pointer-events: none;
          cursor: initial;
          &:after, &:before {
            content: '';
            position: absolute;
            display: block;
            height: 200%;
            width: 2px;
            background: @red;
            top: -50%;
            left: 43%;
          }
          &:before {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:after {
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
          }
        }
        &.active {
          background: @inverse;
        }
      }
    }

  }
}
