.checkout {
  min-height: 80vh;
 &__table {
  border-top: 1px solid @primary;
 }

 &__item {
  padding: @pad @pad*2;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: url(https://cdn.shopify.com/s/files/1/0021/7448/4547/files/dashed.png?11624143845082805645) center center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }

  &-link {
    color: @primary;
    .hover(@primary);
  }
  &-img {
    max-width: 225px;
    & img {
      max-width: 225px;
    }
  }

  &-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: @pad;
    width: 220px;
  }

  &-info {
    flex-grow: 2;
  }

  &-shipping {
    display: flex;
    align-items: flex-end;
    margin-bottom: @pad*2;
    & > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
 }

 &__list {
  border-right: 1px solid @primary;
  flex-grow: 2;
 }

 &__totals {
   width: 350px;
   &-item {
     padding: @pad @pad*2;
     & + .checkout__totals-item {
        border-top: 1px solid @primary;
     }
   }
 }

&__promocode {
  align-items: flex-end;
  &-inp {
    width: 140px;
    border: 0;
    border-bottom: 1px solid @primary;
    border-radius: 0;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid @primary;
    }
  }
  &-btn {
    padding-left: @pad/2;
  }
}

  &__radio {
    &-wrap {
      position: relative;
    }
    &-btn {
      opacity: 0;
      position: absolute;
      z-index: 5;
      left: 0;
      top: -50%;
      width: 100%;
      height: 150%;
      cursor: pointer;
      &-fake {
        &:before {
          content: '-';
          display: inline-block;

        }
      }

      &:checked ~ &-fake {
        &:before {
          content: 'X';
          display: inline-block;

        }
      }
    }
  }
}
